version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
    environment:
      TZ: "America/Chicago" # Replace with your desired timezone
      WEBPASSWORD: hidden for safety # Replace with a strong password
      # FTLCONF_dns_listeningMode: "all" # Uncomment if using Docker's default bridge network
    volumes:
      - /home/thomascline/Docker/etc-pihole:/etc/pihole"
      - /home/thomascline/docker/etc-dnsmasq.d:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - NET_BIND_SERVICE
    restart: unless-stopped
