---
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
    volumes:
      - /home/thomascline/Docker/Arr/sonarr/data:/config
      - /mnt/data/tvshows:/tv #optional
      - /home/thomascline/Downloads:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped
